* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'inter', sans-serif;
  color: white;
}
body {
  background: url(images/coffe\ shop.png);
  background-size: cover;
  height: 100vh;
  width: 100%;
}

nav {
  background:  rgba(0, 0, 0, 0.5 );
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  backdrop-filter: blur(25px);
  position: fixed;
  width:100%;
  height: 100px;
}
.logo {
  display: flex;
  align-items: center;
  gap: 20px;
}
.logo h1 {
  font-size: 45px;
}
.navigation {
  display: flex;
  gap: 1rem;
}
.navigation li {
  list-style-type: none;
}
.navigation li a {
  text-decoration: none;
  font-size: 24px;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 99px;
  transition: 0.5s;
}
.navigation li a:hover {
  background: #007DFC;
  transition: 0.5s;
}
.input {
  display: none;
}
.menu {
  display: none;
}

@media screen and (max-width: 952px) {
  .navigation {
    position: absolute;
    top: 100px;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    background: rgba(0, 0, 0, 0.6 );
    width: 100%;
    right: 0;
    padding: 0px 0px;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
  }
  input:checked ~ .navigation
  {
    height: 100vh;
    padding: 50px 0px;
  }
  .menu {
    display: block;
    width: 60px;
  }
  .menu label {
    border: solid;
    width: 60px;
    height: 60px;
    position: fixed;
    top: 20px;
}
input:checked ~ .menu .list-icon {
    display: none;
}
}